doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title VMusic | About
  link(rel='stylesheet' href='../static/about.css')
  link(rel='stylesheet' media='screen and (max-width:700px)' href='../static/aboutphone.css')
  link(rel='stylesheet' media='(min-width:700px) and (max-width:1000px)' href='../static/abouttab.css')
  link(href='https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap' rel='stylesheet')
.main
  .all
    .image
      img(src='../static/about.jpg' alt='Not Found')
    .social
      a(href='https://www.instagram.com/vrajpatel_2111/') @vrajpatel_2111
      p
        a(href='mailto:vjp21112@gmail.com?subject=contact to you') vjp21112@gmail.com
      p
        a(href='http://wa.me/+919313553359') Click To Whats App Me
      p
        a(href="./home") Back To Home
