doctype html
head
  title Welcome | VmUsic
  link(rel='stylesheet' href='../static/welcome.css')
  link(rel='stylesheet' media='screen and (max-width:700px)' href='../static/welcomephone.css')
  link(rel='stylesheet' media='(min-width:700px) and (max-width:1000px)' href='../static/welcometab.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap' rel='stylesheet')
.main
  .all
    .header
      img(src='../static/headerlogo.png' alt='Not found')
    .speech
      h1 Welcome To VmUsic
      p
        | Here You Can Listen The Treanding Song Of Bollywood 
        br
        |  And Albums And Can Download It For Free..!
    .button
      button.btn
        a(href='./home') Getting Start
    .footer
      img(src='../static/footerlogo.png' alt='Not Found')
    .social
      a(href='https://www.instagram.com/er.vrajpatel/') @vrajpatel_2111
