doctype html
head
  title VMusic | Download
  link(rel='stylesheet' href='../static/download.css')
  link(rel='stylesheet' media='screen and (max-width:700px)' href='../static/downloadphone.css')
  link(rel='stylesheet' media='(min-width:700px) and (max-width:1000px)' href='../static/downloadtab.css')
.main
  .all
    .songimg
      img(src='../static/image/jinke liye.jpg' alt='Not Found')
    .songname
      | Jinke Liye
    .singer
      | Kakkar, B Prank
    .song
      audio(src='../static/song/Jinke Liye.mp3' type='audio/mpeg' controls='') Aaya Na Tu - VMusic
    .button
      button.btn
        a(href='../static/song/Jinke Liye.mp3' download='') Download
    .quality
      | Download Your Song In 320 kbps At Highest Quality Audio For Free
