extends base.pug

block style 
    link(rel='stylesheet' href='../static/home.css')
    link(rel='stylesheet' media='screen and (max-width:700px)' href='../static/homephone.css')
    link(rel='stylesheet' media='(min-width:700px) and (max-width:1000px)' href='../static/hometab.css')
    link(href='https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap' rel='stylesheet')
         


block content
  .main
    
    #song
      .block
        .img
          img(src='../static/image/tera ban jaunga.jpg' alt='Not Found')
        p
          | Tera Ban Jaunga
          br
          | Tulsi Kumar, Arijit Singh
        button.b
          a(href='./tera-ban-jaunga') Download
      .block
        .img
          img(src='../static/image/genda phool.jpg' alt='Not Found')
        p
          | Genda Phool
          br
          | Badshah ft,Payal Dev
        button.b
          a(href='./genda-phool') Download
      .block
        .img
          img(src='../static/image/jinke liye.jpg' alt='Not Found')
        p
          | Jinke Liye
          br
          | Neha Kakkar, B Prank
        button.b
          a(href='./jinke-liye') Download

      .block
        .img
          img(src='../static/image/burjkhalifa.jpg' alt='Not Found')
        p
          | Burjkhalifa - LaxmiBomb
          br
          | MadhuBanti, Nikhita Gandhi, Shakshi
        button.b
          a(href='./burjkhalifa') Download
    .page
      ul
        li
          a(href='./home') #1
        li
          a(href='./page_2') #2
        //- li
        //-   a(href='') #3
        //- li
        //-   a(href='') #4
        //- li
        //-   a(href='') #5
        //- li
        //-   a(href='') #6
        //- li
        //-   a(href='') #7
    footer
      .social
        a(href='http://www.instagram.com/vrajpatel_2111') @vrajpatel_2111
      .footerimg
        img(src='../static/footerlogo.png' alt='Not Found')
  script.


    //java script code
    function search_song() {
    let input = document.getElementById('search').value
    input = input.toLowerCase();
    let x = document.getElementsByClassName('block');
    for (i = 0; i < x.length; i++){
    if (!x[i].innerHTML.toLowerCase().includes(input)) {
    x[i].style.display="none";
    }
    else {
    x[i].style.display="div-item"
    }
    }
    }
